---
layout: default
title: Home
---
<main >
	<div id="home-card-ads">{% include adsense.html %} </div>
	{% for post in site.posts %}
	
	<section>
	<div id="home-card-link">
		<a href="{{ site.baseurl }}{{ post.url }}">
			<div id="home-card">
				<h2 id="post-title">{{ post.title }}</h2>
				<p id="date-user">{{post.date | date: "%-d %-B %Y" }} •  posted by Henry Lim</p>
				{{ post.excerpt }}
				<p id="read-more">Read More</p>
			

			
			</div>
		</a>
	</div>
		
	</section>
	{% endfor %}
	<div id="home-card-ads">{% include adsense.html %} </div>




</main>
