<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body unresolved>   

    <core-scaffold responsivewidth="100000000px" id="core_scaffold">
    <core-header-panel mode="seamed" id="core_header_panel" navigation flex>
    <core-toolbar id="core_toolbar"></core-toolbar>
    <core-menu selected="1" selectedindex="1" id="core_menu">
          <core-submenu id="core_submenu" label="Topics">
            <core-item id="core_item2" label="Topic 1" horizontal layout center></core-item>
            <core-item id="core_item3" label="Topic 2" horizontal center layout></core-item>
          </core-submenu>
          <core-submenu opened active id="core_submenu1" label="Favorites">
            <core-item id="core_item4" label="Favorite 1" horizontal center layout></core-item>
            <core-item id="core_item5" label="Favorite 2" horizontal center layout></core-item>
            <core-item id="core_item6" label="Favorite 3" horizontal center layout></core-item>
          </core-submenu>
          <core-item id="item7" horizontal center layout active><a href="/search" id="menu-list">Search</a></core-item></a>
        </core-menu>
       
</core-header-panel>
<div id="header" tool center horizontal layout center-justified><a href="/">HENRY LIM | BLOG</a></div>
<div class="content">
  {{ content }}  
</div>

</core-scaffold>

  </body>
</html>
